# aliases

#Git
alias gpf="git push --force-with-lease"
alias refresh="git co master && git pull && git co - && git rebase master"
alias refreshOhm="git co trunk && git pull && git co - && git rebase trunk"
alias glops='git log -p -S'
alias upf="git ci -a --amend --no-edit && git push --force-with-lease"
alias up="git ci -a --amend --no-edit"


#Personal
#zsh
alias sz="source ~/.zshrc"
alias zshconfig="vim ~/.zshrc"
alias dotfiles='cd ~/.dotfiles'
export JOURNAL_LOC="~/journal"
alias journal="cd $JOURNAL_LOC"
alias vimsql="vim ~/dev/sql"
alias vjournal='vim $JOURNAL_LOC/$(date +%F).txt' 
alias vstandup='vim $JOURNAL_LOC/de/$(date +%F).txt' 
alias vnotes='vstandup'
alias valiases='vim ~/.oh-my-zsh/custom/aliases.zsh' 
alias vdezsh="vim ~/.oh-my-zsh/custom/de.zsh" 
alias rm='rm -iv'

# Software Eng Aliases and ENV Variables

# BIZ docs
export BIZ_DOCS_LOC="$HOME/repos/biz.warby.io"
alias bizdocs="cd $BIZ_DOCS_LOC"

# helios
export HELIOS="$HOME/repos/helios"
alias helios="cd $HELIOS"

# ohm
export PATH="$PATH:$(go env GOPATH)/bin"
export OHM_LOC="$(go env GOPATH)/src/github.com/WarbyParker/ohm"
alias goOhm="cd $OHM_LOC"

# bluesteel
export HELIOS_ADMIN_VERSION="joseph-fix"
export BLUESTEEL="$HOME/repos/bluesteel"
alias bluesteel="cd $BLUESTEEL"
alias bluetest="bluesteel && make helios-test"

# Python
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

# Go
export GO_JIRA="$(go env GOPATH)/src/github.com/go-jira"
export GO111MODULE=on

#Pyenv
alias vhelios="pyenv local 3.6.5"
alias vfab="pyenv local 2.7.18"
alias vohm="pyenv local 3.8.2"
alias vsystem="pyenv local system"

#Adhocs
alias ecom="vfab && fab aws.use_ohm:ecom,"
# Shortcuts

# mentat
export MENTAT_LOC="$HOME/repos/mentat"
alias mentat="cd $MENTAT_LOC"


# arrakis 
export ARRAKIS_LOC="$HOME/repos/arrakis"
alias arrakis="cd $ARRAKIS_LOC"


# de-airflow 
export DE_AIRFLOW_LOC="$HOME/repos/data-engineering-airflow"
alias de-airflow="cd $DE_AIRFLOW_LOC"


# de-infra
export DE_INFRA_LOC="$HOME/repos/data-engineering-infrastructure"
alias de-infra="cd $DE_INFRA_LOC"


# de-infra-tools
export DE_INFRA_TOOLS_LOC="$HOME/repos/data-engineering-infrastructure-tools"
alias de-infra-tools="cd $DE_INFRA_TOOLS_LOC"


# GCloud SDK
# The next line updates PATH for the Google Cloud SDK.
if [ -f '/Users/joseph.porter/google-cloud-sdk/path.zsh.inc' ]; then . '/Users/joseph.porter/google-cloud-sdk/path.zsh.inc'; fi

# The next line enables shell command completion for gcloud.
if [ -f '/Users/joseph.porter/google-cloud-sdk/completion.zsh.inc' ]; then . '/Users/joseph.porter/google-cloud-sdk/completion.zsh.inc'; fi

#MENTAT
export MENTAT__CONFIG_PATH='/Users/joseph.porter/repos/mentat/mentat.cfg'

# Terraform
export PATH=$PATH:~/bin

#Custom funcs
timer() {
    sleep $(echo "$1 * 60" | bc) 
    afplay /System/Library/Sounds/Ping.aiff
}

# Set WarbyParker AWS profile
export AWS_PROFILE=warby-today
#AWS MFA
awsume-op() {
    # Wrapper around 1password-client (op) and awsume to allow a single invocation
    # + password to create temporary credentials
    # Needs awsume https://awsu.me/general/quickstart.html
    # Install via: brew install awsume
    # Needs 1password client, install via: `brew cask install 1password-cli`
    eval "$(op signin warbyparker)"
    /usr/local/bin/awsume warbyparker --mfa-token "$(op get totp 'Amazon')" --output-profile warby-today
  }
