# aliases

#Git
alias gpf="git push --force-with-lease"
alias refresh="git co main && git pull && git co - && git rebase main"
alias refreshMaster="git co master && git pull && git co - && git rebase master"
alias refreshOhm="git co trunk && git pull && git co - && git rebase trunk"
alias glops='git log -p -S'
alias upf="git ci -a --amend --no-edit && git push --force-with-lease"
alias up="git ci -a --amend --no-edit"


#Personal
#zsh
alias sz="source ~/.zshrc"
alias zshconfig="vim ~/.zshrc"
alias dotfiles='cd ~/.dotfiles'
export JOURNAL_LOC="~/journal"
export DATE=`date +%F`
alias journal="cd $JOURNAL_LOC"
alias vimsql="vim ~/dev/sql"
alias vjournal='journal && vim $(date +%F).txt' 
alias vstandup='journal && cd de && vim "$(date +%F)".txt' 
alias vnotes='vim $JOURNAL_LOC/de/$DATE.txt'
alias valiases='vim ~/.dotfiles/.aliases' 
alias rm='rm -iv'
alias sshconfig='vim ~/.ssh/config'
alias vimrc='vim ~/.dotfiles/.vimrc'

# fasd
alias v='f -e vim' 
alias o='a -e open'

# search Real Python
alias rp="open https://realpython.com"

# Software Eng Aliases and ENV Variables
export REPOS="$HOME/repos"
alias repos="cd $REPOS"

# BIZ docs
export BIZ_DOCS_LOC="$REPOS/tech/biz.warby.io"
alias bizdocs="cd $BIZ_DOCS_LOC"

# helios
export HELIOS="$REPOS/tech/helios"
alias helios="cd $HELIOS"

# ohm
export PATH="$PATH:$(go env GOPATH)/bin"
export OHM_LOC="$(go env GOPATH)/src/github.com/WarbyParker/ohm"
alias goOhm="cd $OHM_LOC"

# bluesteel
export HELIOS_ADMIN_VERSION="joseph-fix"
export BLUESTEEL="$REPOS/tech/bluesteel"
alias bluesteel="cd $BLUESTEEL"
alias bluetest="bluesteel && make helios-test"

# PyEnv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

# PyEnv Virtual Env
eval "$(pyenv virtualenv-init -)"

# Go
export GO_JIRA="$(go env GOPATH)/src/github.com/go-jira"
export GO111MODULE=on

#Pyenv
alias vhelios="pyenv local 3.6.5"
alias vfab="pyenv local 2.7.18"
alias vohm="pyenv local 3.8.2"
alias vsystem="pyenv local system"

#Adhocs
alias ecom="vfab && fab aws.use_ohm:ecom,"
# Shortcuts

# mentat
export MENTAT_LOC="$REPOS/data/mentat"
alias gmentat="cd $MENTAT_LOC"
alias tasks="cd $MENTAT_LOC/mentat/tasks"
alias vtasks="tasks && vim ."
alias mentatcfg="gmentat && vim mentat.cfg"
alias 2h2k="tasks && vim helios_to_kaitain_v2"


# arrakis 
export ARRAKIS_LOC="$REPOS/data/arrakis"
alias garrakis="cd $ARRAKIS_LOC"


# de-airflow 
export DE_AIRFLOW_LOC="$REPOS/data/data-engineering-airflow"
alias de-airflow="cd $DE_AIRFLOW_LOC"
alias restart_airflow="make stop_airflow && make start_airflow"


# de-infra
export DE_INFRA_LOC="$REPOS/data/data-engineering-infrastructure"
alias de-infra="cd $DE_INFRA_LOC"


# de-infra-tools
export DE_INFRA_TOOLS_LOC="$REPOS/data/data-engineering-infrastructure-tools"
alias de-infra-tools="cd $DE_INFRA_TOOLS_LOC"


# GCloud SDK
# The next line updates PATH for the Google Cloud SDK.
if [ -f '/Users/joseph.porter/google-cloud-sdk/path.zsh.inc' ]; then . '/Users/joseph.porter/google-cloud-sdk/path.zsh.inc'; fi

# The next line enables shell command completion for gcloud.
if [ -f '/Users/joseph.porter/google-cloud-sdk/completion.zsh.inc' ]; then . '/Users/joseph.porter/google-cloud-sdk/completion.zsh.inc'; fi

#MENTAT
export MENTAT__CONFIG_PATH='/Users/joseph.porter/repos/mentat/mentat.cfg'

# Terraform
export PATH=$PATH:~/bin

# H2K2
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
